<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874140415637-k2uoii4rlngclvpg6nj0hpom1v595e7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874140415637-k2uoii4rlngclvpg6nj0hpom1v595e7e</string>
	<key>API_KEY</key>
	<string>AIzaSyAzchn_1LNfc5CQzZwPGf8c2-XD4UG7JzE</string>
	<key>GCM_SENDER_ID</key>
	<string>874140415637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yomoEcommerce</string>
	<key>PROJECT_ID</key>
	<string>yomo-ecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>yomo-ecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874140415637:ios:5796be9e23e8bd2bac4d9c</string>
</dict>
</plist>